@import 'mixins';

script{
    display: none;
}

.none{
    display: none;
	height: 0;
}
//basics
$textColor: #111111;
//$buttonShadeColor: #fff;
$borderColor: #ccc;//text feed back only
$maxWidth: 20rem;

//home variables
//$pageMargin: 10vw;
//$pagePadding: 5vw;
//$pageBoarder: .2rem;
//$pageWidth: 100vw - 2 * ($pagePadding + $pageMargin);

//button variables
//$shadowSize: .5rem;
$outlineSize: .1rem;
//$buttonShadeOutlineColor: #000;
//$boxShadow: 0px 0px $shadowSize $buttonShadeColor;
$numberPadBtnHW: 2rem;
$numberPadBtnMargin: .3rem;
$numberPadMargin: $maxWidth - 5*($numberPadBtnHW + 2*$numberPadBtnMargin + 2*$outlineSize);

//icon variables
$pictureHeightWidth: 1.8rem;
$pictureMargin: ($numberPadBtnHW - $pictureHeightWidth) /2;
$pictureBackground: none;
*{
    padding: none;
    margin: none;
}
body{
    margin: 0 auto;
}
#bigDisplay{
	margin-top: 1rem;
//	bottom: 0;
}
header, footer{
    z-index: 5;
    background: white;
}
#OHCOWIconHolder{
	width: $numberPadBtnHW + 2*$numberPadBtnMargin;
	height: $numberPadBtnHW + 2*$numberPadBtnMargin;
	margin-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    float: left;
	background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
}
#OHCOWIcon{
    background: $pictureBackground;
	float: left;
	@include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
    background-image: url(../Img/ohcow%20temp%20icon.svg);
    background-repeat: no-repeat;
	margin: .4rem;
}
.btnOutline{
    border-radius: 50%;
    background: $pictureBackground;
}
.btnInline{
    border-radius: 50%;
    border: 0rem solid white;
    background-color: white;
}
h1, h2{
	font-size: 1.25rem;
    font-family: 'Cinzel', serif;
    color: $textColor;
    text-align: center;
}
p, h3, input{
    font-family: 'Poiret One', cursive;
    color: $textColor;
    margin: 0rem;
}
.editing{
	@include activeText
}
$paddingQuickChange: 2rem;
$inputWrapper: 6rem;
//$inputWrapperMargin: ($maxWidth/2 - $inputWrapper)/2;
$inputWrapperMargin: 0;
#temperatureWrapper{
	p{
		text-align: center;
	}
	position: absolute;
	margin: $inputWrapperMargin;
	width: $inputWrapper;
	left: 0;
	bottom: 0rem;
}
#humidityWrapper{
	p{
		text-align: center;
	}
	position: absolute;
	margin: $inputWrapperMargin;
	width: $inputWrapper;
	bottom: 0rem;
	right: 0;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#inputWrapper{
	height: 8rem;
	width: 14rem;
	margin: 0 auto;
	table{
		margin: 0 auto;
//		border: 1px solid blue;
	}
	p{
		margin: 0 auto;
	}
	svg{
		height: .5rem;
		margin: .5rem;
	}
	tr{
		margin: 0;
		padding: 0;
		height: 1rem !important;
	}
	td{
		font-family: 'Poiret One', cursive;
		text-align: center;
	}
	.inputAddSub{
		width: 2rem;
		height: 1rem;
		margin: 0;
		padding: 0;
		background: $pictureBackground;
	}
	position: relative;
	bottom: 1rem;
}
//old
#numberPadContainer{
    position: fixed;
	bottom: 8rem;
	padding-left: $paddingQuickChange;
    .numberPadRow{
        margin: 0 auto;
        clear: both;
    }
    .btnOutline{
        margin-left: .5rem;//change
        margin-right: .5rem;//change
		margin-bottom: .5rem;
		margin-top: .5rem;
        float: left;
        width: $numberPadBtnHW + 2*$numberPadBtnMargin;//3.6rem
        height: $numberPadBtnHW + 2*$numberPadBtnMargin;
        background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
        margin: $numberPadBtnMargin;
        height: $numberPadBtnHW;
        width: $numberPadBtnHW;
    }
}

header{
	display: table;
//	display: none;
//    position: fixed;
    top: 0;
    height: 4rem;
//	width: 100vw;
    max-width: $maxWidth;
    margin: 0 auto;
}
#homeButton{
    top: 0;
    left: 0;
    width: 4rem;
}
#OHCOWwrapper{
    max-width: $maxWidth;
    margin: 0 auto;
    width: $maxWidth;
//    margin-top: 5rem;
    // margin-bottom: 9.5rem;
}
#title{
	display: table-cell;
	vertical-align: middle;
    text-align: left;
}
#tempFeedback{
    width: 2rem;
    height: 1rem;
	padding: 0;
}
#humidFeedback{
    width: 3rem;
    height: 1rem;
	padding: 0;
}
#feedbackText{
	@include activeText();
    background: white;
    position: fixed;
    bottom: 0;
    width: $maxWidth - 2rem;
    padding-top: .5rem;
    padding-left: .5rem;
    height: 1.5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    .btnOutline{
		position: absolute;
		right: -.2rem;
		bottom: -.2rem;
		height: 2.4rem;
		width: 2.4rem;
        background: radial-gradient(#fff 1rem, #ccc 1.2rem);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
		 position: relative;
		 right: -.2rem;
		 bottom: 1.8rem;
        margin: 2rem auto;
        height: 2rem;
        width: 2rem;
		background-image: url(../Img/refresh-13.svg);
    }
}
//#shadeBoxFooter{
//    box-shadow: 0px -3px 3px #999;
//    width: $maxWidth;
//    margin: 0 auto;
//    border: 1px solid white;
//}
footer{
//	padding-left: 2rem;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    background: white;
    width: $maxWidth;
}
#entryFooter{
    height: 8rem;
}
#pageNumber{
}
$infoPageFooterHeight: 3rem;
$infoPageFooterFont: $infoPageFooterHeight/3;
#infoFooter{
  p{
    width: 100%;
    text-align: center;
    margin-top: $infoPageFooterFont;
    font-size: $infoPageFooterFont;
  }
    .btnOutline{
        width: $infoPageFooterFont*2;
        height: $infoPageFooterFont*2;
        background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
        margin: $numberPadBtnMargin;
        height: $numberPadBtnHW;
        width: $numberPadBtnHW;
    }
  height: $infoPageFooterHeight;
}
.infoPage{
  padding-bottom: $infoPageFooterHeight;
}
button{
    border: 0rem solid white;
    background-repeat: no-repeat;
}
#bigHumidexDiv{
	margin-left: 0.5rem;
    width: 6rem;
	float: left;
}
#bigBreakString{
	height: 2rem;
	margin-bottom: .5rem;
}
#bigWaterString{
	height: 3rem;
}
#entryPage{
	width: $maxWidth;
  height: 15.5rem;
}
#bigInstructionsDiv{
	float: left;
	width: 12.5rem;
}
.notice{
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    float: right;
}
#newEntry{
    background: none;
    height: 2rem;
    width: 2rem;
    margin: .2rem;
}
#newEntryOutline{
	z-index: 99;
	border-radius: 50%;
	background: radial-gradient(#fff 1rem, #aaa 1.2rem);
	position: relative;
	bottom: 4rem;
	left: ($maxWidth - 4rem);
	width: 2.4rem;
	height: 2.4rem;
}
#repeatingListPage{
	min-height: 100%;
    width: 100%;
    float: left;
    margin-top: .5rem;
    margin-bottom: 8rem;
}
.repeatingListItrem{
    max-width: $maxWidth;
    clear: both;
}
.repBackground{
    margin: 0;
    padding: 1.5rem;
    float: left;
}
.repRight p{
    padding: .5rem;
}
.repRight .notice{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
}
#botBtnDiv{
    position: fixed;
//    bottom: 4rem;//uncomment to return feedbackdiv
    bottom: 4rem;//
	background: white;
	margin-left: 1rem;
    .btnOutline{
		margin-left: 1rem;
		margin-right: 1rem;
        float: left;
        width: $numberPadBtnHW + 2*$numberPadBtnMargin;
        height: $numberPadBtnHW + 2*$numberPadBtnMargin;
        background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
        margin: $numberPadBtnMargin;
        height: $numberPadBtnHW;
        width: $numberPadBtnHW;
    }
}
#radiantLevel{
    font-family: 'Poiret One', cursive;
    color: $textColor;
}
#clothingLevel{
	//Not sure why height width margin is needed but it is
    height: $pictureHeightWidth;
    width: $pictureHeightWidth;
    margin: $pictureMargin;
    background: $pictureBackground;
    background-image: url(../Img/clothing.svg);
    background-repeat: no-repeat;
    font-family: 'Poiret One', cursive;
    color: white;
}
#humidexFeedback{
    padding: 2rem;
    text-align: left;
    width: 2rem;
}
//for changing the images
    .level1{
        background-image: url(../Img/1.svg);
        background-repeat: no-repeat;
    }
    .level2{
        background-image: url(../Img/2.svg);
        background-repeat: no-repeat;
    }
    .level3{
        background-image: url(../Img/3.svg);
        background-repeat: no-repeat;
    }
    .level4{
        background-image: url(../Img/4.svg);
        background-repeat: no-repeat;
    }
    .indoor{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/indoor.svg);
		margin-top: 0;
    }
    .radiantNone{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/no%20indoor%20radiant.svg);
    }
    .radiantHot{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/radiantHeat.svg);
    }
    .unacclimatized{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/unacclimatized.svg);
    }
    .acclimatized{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/acclimatized.svg);
    }
    .waterBottle{
        background-repeat: no-repeat;
        background-image: url(../Img/waterBottle.svg);
    }
    .timeClock{
        background-repeat: no-repeat;
        background-image: url(../Img/stopwatch.svg);
    }
