@import 'mixins';

script{
    display: none;
}

.none{
    display: none;
}
//basics
$textColor: #111111;
//$buttonShadeColor: #fff;
$borderColor: #ccc;//text feed back only
$maxWidth: 24rem;

//home variables
//$pageMargin: 10vw;
//$pagePadding: 5vw;
//$pageBoarder: .2rem;
//$pageWidth: 100vw - 2 * ($pagePadding + $pageMargin);

//button variables
//$shadowSize: .5rem;
$outlineSize: .1rem;
//$buttonShadeOutlineColor: #000;
//$boxShadow: 0px 0px $shadowSize $buttonShadeColor;
$numberPadBtnHW: 3rem;
$numberPadBtnMargin: .3rem;
$numberPadMargin: $maxWidth - 5*($numberPadBtnHW + 2*$numberPadBtnMargin + 2*$outlineSize);

//icon variables
$heightWidth: 3rem;
$pictureHeightWidth: 2rem;
$pictureMargin: ($heightWidth - $pictureHeightWidth) /2;
$pictureBackground: none;

*{
    border: none;
    padding: none;
    margin: none;
}
body{
    height: 50vh;
    min-height: 36rem;
    margin: 0 auto;
    width: $maxWidth;
}
#bigDisplay{
    clear: both;
}
header, footer{
    z-index: 5;
    background: white;
}
.btnOutline{
    border-radius: 50%;
    background: $pictureBackground;
    background: radial-gradient(#fff .2rem, #ccc);
}
.btnInline{
    border-radius: 50%;
    border: 0rem solid white;
//    box-shadow: $boxShadow;
    background-color: white;
}
h1, h2{
	font-size: 1rem;
    font-family: 'Cinzel', serif;
    color: $textColor;
    text-align: center;
}
p, h3, input{
    font-family: 'Poiret One', cursive;
    color: $textColor;
    background: rgba(255,255,255,.3);//db4hi
    margin: 0rem;
}
.editing{
	@include activeText
}
#numberPadContainer{
    margin: $numberPadMargin - .5rem;
    position: absolute;
    bottom: 4.5rem;
    .numberPadRow{
        margin: 0 auto;
        clear: both;
    }
    .btnOutline{
        margin: 1rem;//change
        float: left;
        width: $numberPadBtnHW + 2*$numberPadBtnMargin;//3.6rem
        height: $numberPadBtnHW + 2*$numberPadBtnMargin;
        background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
        margin: $numberPadBtnMargin;
        height: $numberPadBtnHW;
        width: $numberPadBtnHW;
    }
}

header{
    position: fixed;
    top: 0;
    height: 5rem;
    max-width: $maxWidth;
    margin: 0 auto;
	width: 100vw;
}
#homeButton{
    top: 0;
    left: 0;
    width: 4rem;
}
#OHCOWwrapper{
    max-width: $maxWidth;
    margin: 0 auto;
    width: $maxWidth;
    margin-top: 5rem;
    margin-bottom: 9.5rem;
}
#title{
	position: relative;
	right: 0;
    height: 5rem;
    padding: 0;
    margin: 0;
    text-align: center;
}
#tempFeedback{
    width: 2rem;
    height: 1rem;
	padding: 0;
}
#humidFeedback{
    width: 3rem;
    height: 1rem;
	padding: 0;
}
#feedbackText{
	@include activeText();
    background: white;
    position: fixed;
    bottom: 0;
    width: $maxWidth;
    padding-top: .5rem;
    padding-left: .5rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    .btnOutline{
		position: absolute;
		right: -.3rem;
		bottom: -.2rem;
		height: 2.4rem;
		width: 2.4rem;
        background: radial-gradient(#fff 1rem, #ccc 1.2rem);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
		 position: relative;
		 right: -.2rem;
		 bottom: 1.8rem;
        margin: 2rem auto;
        height: 2rem;
        width: 2rem;
		background-image: url(../Img/refresh-13.svg);
    }
}
#OHCOWIconHolder{
    margin-left: 3rem;
    float: left;
}
#OHCOWIcon{
    height: $pictureHeightWidth;
    width: $pictureHeightWidth;
    margin: $pictureMargin;
    background: $pictureBackground;
    background-image: url(../Img/ohcow%20temp%20icon.svg);
    background-repeat: no-repeat;
	float: left;
}
#shadeBoxFooter{
    box-shadow: 0px -3px 3px #999; 
    width: $maxWidth;
    margin: 0 auto;
    border: 1px solid white;
}
footer{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    background: white;
    width: $maxWidth;
    height: 8rem;
//    .btnOutline{
//    }
}
button{
    border: 0rem solid white;
    background-repeat: no-repeat;
}
#bigHumidexDiv{
    width: 4rem; 
    float: left; 
}
#bigInstructionsDiv{
    width: 17.5rem;
    float: right;
    .btnOutline{
        background: radial-gradient(#fff .6rem, #444 1rem);
//        background: #444;
        position: relative;
        height: 1.7rem;
        width: 1.7rem;
        float: right;
    }
}
.notice{
    position: relative; 
    height: 1.5rem;
    width: 1.5rem;
    float: right;
}
#newEntry{
    background: none;
    background-image: url(../Img/add-12.svg);
    height: 1.3rem;
    width: 1.3rem;
    margin: .2rem;
}
#repeatingList{
    width: 100%;
    float: left;
    margin-top: .5rem;
    margin-bottom: 9.5rem;
}
.repeatingListItem{
    width: $maxWidth;
    clear: both;
}
.repBackground{
    height: 1rem;
    width: 1.5rem;
    margin: 0;
    padding: 1.5rem;
    float: left;
}
.repRight p{
    padding: .5rem;
}
.repRight .notice{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0;
}
#botBtnDiv{
    position: fixed;
    bottom: 4rem;
	background: white;
	width: 100%;
}
#botBtnDiv{
    .btnOutline{
    float: left;
        margin: 1rem;//change
        float: left;
        width: $numberPadBtnHW + 2*$numberPadBtnMargin;//3.6rem
        height: $numberPadBtnHW + 2*$numberPadBtnMargin;
        background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
    }
     .btnInline{
        font-family: 'Poiret One', cursive;
        color: $textColor;
        margin: $numberPadBtnMargin;
        height: $numberPadBtnHW;
        width: $numberPadBtnHW;
        background: radial-gradient(#fff $numberPadBtnHW/2, #ccc ($numberPadBtnHW + 2*$numberPadBtnMargin)/2);
    }
}
#radiantLevel{
    font-family: 'Poiret One', cursive;
    color: $textColor;
}
#clothingLevel{
    height: $pictureHeightWidth;
    width: $pictureHeightWidth;
    margin: $pictureMargin;
    background: $pictureBackground;
    background-image: url(../Img/clothing.svg);
    background-repeat: no-repeat;
    font-family: 'Poiret One', cursive;
    color: white;
}
#humidexFeedback{
    padding: 2rem;
    text-align: left;
    width: 2rem;
}
//for changing the images
    .level1{
        background-image: url(../Img/1.svg);
        background-repeat: no-repeat;
    }
    .level2{
        background-image: url(../Img/2.svg);
        background-repeat: no-repeat;
    }
    .level3{
        background-image: url(../Img/3.svg);
        background-repeat: no-repeat;
    }
    .level4{
        background-image: url(../Img/4.svg);
        background-repeat: no-repeat;
    }
    .indoor{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/indoor.svg);
    }
    .radiantNone{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/no%20indoor%20radiant.svg);
    }
    .radiantHot{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/radiantHeat.svg);
    }
    .unacclimatized{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/unacclimatized.svg);
    }
    .acclimatized{
        @include botImageHandeler ($pictureHeightWidth, $pictureMargin, $pictureBackground);
        background-repeat: no-repeat;
        background-image: url(../Img/acclimatized.svg);
    }
    .waterBottle{
        background-repeat: no-repeat;
        background-image: url(../Img/waterBottle.svg);
    }
    .timeClock{
        background-repeat: no-repeat;
        background-image: url(../Img/stopwatch.svg);
    }